extends layout

block content
  h1= title
  if user
    p Hello, #{user.userName}
    a(href="/create")
      button.indexButton New Message
    a(href="/log-out") 
      button.indexButton Log out
  else
    p
      a(href="/sign-up") Sign up 
      span to see who posted the messages below
    p Already have an account? 
      a(href="/log-in") Log in
  hr
  if messages.length>0
    .messageContainer
      each message in messages 
        .message 
          h2 #{message.title}
          p= message.text
          p by #{user?`${message.author.userName}(${message.author.firstName} ${message.author.lastName})`:"[Hidden]"}
  else 
    p There's no message on board
